body {
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 5vw;
}

.main {
    text-align: center;
    color: #000000;
    position: absolute;
    margin-left: 10%;
    margin-top: 5%;
}