@viewport {
    width: device-width;
    zoom: 1.0;
}

body {
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-direction: column;
    font-size: 1vw;
}

.main {
    display: flex;
    text-align: center;
    min-height: 100vh;
    color: #000000;
    position: relative;
}

.section {
    flex: auto;
    margin-left: 15%;
    margin-top: 15%;
    font-size: 100%;
}

.footer {
    margin-top: auto;
    margin-right: 45%;
    position: relative;
}
